body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  list-style-type: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
nav li {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 2%;
}
nav {
  display: flex;
  align-items: center;
  padding: 25.5px 156px;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.web {
  color: #4d5ae5;
}
.address {
  margin-left: auto;
  color: #434455;
  font-weight: 400;
}
/* Hero */
.hero {
  background-color: #2e2f42;
  height: 600px;
  line-height: 60px;
  letter-spacing: 1.12px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 188px 472px 292px 472px;
  width: 496px;
}
.button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}
